h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkcyan;
  text-align: center;
}

.section__loader {
  height: 60vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.spinner {
  margin: auto;
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;

  &::after {
    margin: 8.9px;
  }

  &::before{
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  &::before, &::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }

}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
